{{#items}}
    <div class="matchPartner" style="background-image: url('public/img/pizza.jpg')" onClick="window.foodMatcher.selectWinner({{id}});">
        <div class="inner">
            <h3>{{title}}</h3>
            <div class="price">{{price}} &euro;</div>
        </div>
    </div>
{{/items}}
