<li class="list-group-item">
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="public/img/{{image}}" />
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{title}}</h4>
        </div>
    </div>
</li>
