body[route=foodmatcher] {
    @defaultMargin: 10px;

    nav {
        display: none;
    }
    .matchPartner {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
        background-size: cover;
        &:last-of-type {
            .inner {
                margin: auto;
                position: absolute;
                bottom: @defaultMargin;
                left: @defaultMargin;
            }
        }
        .inner {
            float: left;
            margin: @defaultMargin;
            padding: 5px;
            min-width: 50%;
            background: rgba(14, 25, 25, .4);
            border-radius: 3px;
            -webkit-box-shadow: 0 0 13px 1px rgba(255,255,255,1);
            -moz-box-shadow: 0 0 13px 1px rgba(255,255,255,1);
            box-shadow: 0 0 13px 1px rgba(255,255,255,1);
            color: white;
            h3 {
                font-weight: bold;
            }
            button{
              padding: 2px 5px;
              text-transform: capitalize;
            }
        }
    }
}
