body[route=overview] {

    img.media-object
    {
      width: 8em;
      height: auto;
      margin:auto;
      display:block;
    }

  .media-body h4
  {
    font-size: 1.1em;
  }

  .media-body p{
    font-size: 0.7em;
  }

  button.tag
  {
    font-size: 0.8em;
    display:none;
  }

  button.price
  {
    margin: 0.5em auto;
  }

  .list-group-item
  {
    border: 2px solid #ddd;

  }

  .navbar
  {
    margin-bottom:0;
  }

  .ratingBox
  {
    float:right;
    margin-top:1.5em;
  }

}
