html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.c {
  clear: both;
}
.vertical-center {
  min-height: calc(100%);
  min-height: calc(100vh);
  width: 100%;
  display: flex;
  align-items: center;
}
body {
  font-family: Helvetica;
  background-color: #e4e4e2;
  color: black;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.072em;
  font-weight: normal;
}
.navbar .navbar-brand #brandImage {
  height: 21px;
}
.list-group-item .image {
  width: 5em;
  height: 5em;
  background-size: cover;
  background-color: black;
  border: 2px solid #ddd;
}
.list-group-item .price {
  font-weight: 400;
  font-size: 120%;
}
.list-group-item .ratingBox {
  color: #ecbf5b;
  float: right;
  margin-top: 1.5em;
}
.list-group-item .ratingBox .rating {
  position: absolute;
  float: left;
  white-space: nowrap;
  overflow: hidden;
}
.list-group-item .ratingBox .bg {
  float: left;
  white-space: nowrap;
}
.list-group-item button {
  text-transform: capitalize;
}
.list-group-item button.price {
  margin: 0.5em auto;
}
.list-group-item .media-body h4 {
  font-size: 1.1em;
}
.list-group-item .media-body p {
  font-size: 0.7em;
}
.list-group-item img.media-object {
  width: 8em;
  height: auto;
  margin: auto;
  display: block;
}
body[route=foodmatcher] nav {
  display: none;
}
body[route=foodmatcher] .matchPartner {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  background-size: cover;
}
body[route=foodmatcher] .matchPartner:last-of-type .inner {
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
body[route=foodmatcher] .matchPartner .inner {
  float: left;
  margin: 10px;
  padding: 5px;
  min-width: 50%;
  background: rgba(14, 25, 25, 0.4);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 13px 1px #ffffff;
  -moz-box-shadow: 0 0 13px 1px #ffffff;
  box-shadow: 0 0 13px 1px #ffffff;
  color: white;
}
body[route=foodmatcher] .matchPartner .inner h3 {
  font-weight: bold;
}
body[route=foodmatcher] .matchPartner .inner button {
  padding: 2px 5px;
  text-transform: capitalize;
}
body[route=overview] img.media-object {
  width: 8em;
  height: auto;
  margin: auto;
  display: block;
}
body[route=overview] .media-body h4 {
  font-size: 1.1em;
}
body[route=overview] .media-body p {
  font-size: 0.7em;
}
body[route=overview] button.tag {
  font-size: 0.8em;
  display: none;
}
body[route=overview] button.price {
  margin: 0.5em auto;
}
body[route=overview] .list-group-item {
  border: 2px solid #ddd;
}
body[route=overview] .navbar {
  margin-bottom: 0;
}
body[route=overview] .ratingBox {
  float: right;
  margin-top: 1.5em;
}
